.movies-container {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

@media screen and (max-width: 320px) {
  .movies-container {
    padding-top: 40px;
  }
}

.movies-container__cards {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px 20px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .movies-container__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 320px) {
  .movies-container__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
  }
}

.movies-container__more-button {
  width: 320px;
  height: 36px;
  margin: 63px 0 95px;
  border: 1px solid #E8E8E8;
  border-radius: 5%;
  background-color: #fff;
  align-self: center;

  color: #000;
  font-size: 12px;
  line-height: 1.21;
  font-weight: 500;
  
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .movies-container__more-button {
    width: 240px;
    margin: 50px 0 80px;
  }
}