.card {
  display: grid;
  grid-template-areas:
    'image image'
    'title like'
    'duration duration';
    max-width: 270px;
}

.card__image {
  grid-area: image;
  max-width: 270px;
  max-height: 151px;
}

.card__title {
  grid-area: title;
  margin: 14px 0 29px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.21;
}

.card__like {
  grid-area: like;
}

.card__duration {
  position: relative;
  
  grid-area: duration;
  margin: 0;
  padding-top: 6px;

  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  color: #A0A0A0;
}

.card__duration::before {
  position: absolute;
  top: 0;

  display: block;
  height: 1px;
  width: 100%;
  background-color: #E8E8E8;

  content: ' ';
}