.portfolio {
  padding: 0 5.5% 125px;
}

.portfolio__title {
  margin: 0;
  
  color: #A0A0A0;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 400;
}

.portfolio__list {
  margin: 0;
  padding: 30px 0 0;
  
  list-style: none;
}

.portfolio__element {
  position: relative;
  
  margin: 0;
  padding: 20px 0 19px;
  
  font-size: 30px;
  line-height: 1.66;
  font-weight: 400;
}

.portfolio__element::after {
  position: absolute;
  top: 100%;

  display: block;
  height: 1px;
  width: 100%;
  background-color: #E8E8E8;

  content: ' ';
}

.portfolio__link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  color: #000;
  text-decoration: none;
  
  transition: ease-out 0.2s;
}

.portfolio__link:hover .portfolio__arrow {
  transform: rotate(45deg);
}

.portfolio__link:hover .portfolio__link-text {
  color: rgba(0, 0, 0, .6);
}

.portfolio__arrow {
  width: 17px;
  height: 17px;

  transition: ease-out 0.2s;
}