.promo {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #f3c1f8;
  padding: 75px 5.5%;
  min-height: 574px;
}

@media screen and (max-width: 768px) {
  .promo {
    flex-direction: column-reverse;
    align-items: center;
    padding: 140px 3.9% 76px;
  }
}

@media screen and (max-width: 320px) {
  .promo {
    padding: 70px 3.125%;
  }
}

@media screen and (max-width: 768px) {
  .promo__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.promo__title {
  margin: 0 0 36px;
  max-width: 640px;

  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.16;
}

@media screen and (max-width: 768px) {
  .promo__title {
    margin: 48px 0 22px;

    font-size: 40px;
    line-height: 1.25;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .promo__title {
    margin: 44px 0 24px;

    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    letter-spacing: 0;
  }
}

.promo__subtitle {
  margin: 0 0 20px;
  max-width: 310px;
  opacity: 0.5;

  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
}

.promo__subtitle:last-of-type {
  margin: 0 0 146px;
}

@media screen and (max-width: 768px) {
  .promo__subtitle:last-of-type {
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 320px) {
  .promo__subtitle:last-of-type {
    margin: 0 20px 80px;
  }
}

.promo__learn-more {
  margin: 0;
  display: flex;
  width: 129px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box;

  color: #000;
  text-decoration: none;
}

.promo__learn-more:hover {
  border: 1px solid rgba(0, 0, 0, 0.6);

  color: rgba(0, 0, 0, 0.6);
}

.promo__image {
  max-width: 310px;
  width: 100%;
  max-height: 304px;
  height: 100%;
}

@media screen and (max-width: 320px) {
  .promo__image {
    max-width: 210px;
    width: 100%;
    max-height: 206px;
    height: 100%;
  }
}
