.promo {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #F3C1F8;
  padding: 75px 5.5%;
  min-height: 574px;
}

.promo__title {
  margin: 0 0 36px;
  max-width: 640px;
  
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.16;
}

.promo__subtitle {
  margin: 0 0 146px;
  max-width: 310px;
  opacity: .5;
  
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
}

.promo__learn-more {
  margin: 0;
  display: flex;
  width: 129px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box;

  color: #000;
  text-decoration: none;
}

.promo__learn-more:hover {
  border: 1px solid rgba(0, 0, 0, .6);
  
  color: rgba(0, 0, 0, .6);
}

.promo__image {
  max-width: 310px;
  width: 100%;
  max-height: 304px;
  height: 100%;
}