.savedMovies {
  padding: 0 5.5% 0;
}

@media screen and (max-width: 768px) {
  .savedMovies {
    padding: 0 3.9% 0;
  }
}

@media screen and (max-width: 320px) {
  .savedMovies {
    padding: 0 3.125% 0;
  }
}