.about-me {
  display: grid;
  padding: 110px 5.5% 100px;
  grid-template-areas: 
  "title title"
  "info photo";
  grid-template-columns: 1fr 270px;
}

.section-title {
  grid-area: title;
}

.about-me__info {
  grid-area: info;
}

.about-me__title {
  margin: 66px 0 18px;
  
  font-size: 50px;
  line-height: 1.16;
  font-weight: 400;
}

.about-me__subtitle {
  margin: 0 0 26px;
  
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
}

.about-me__description {
  margin: 0 0 99px;
  max-width: 600px;
  
  font-size: 14px;
  line-height: 1.57;
  font-weight: 400;
}

.about-me__github {
  cursor: pointer;

  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;

  transition: ease-out 0.2s;
}

.about-me__github:hover {
  color: rgba(0, 0, 0, .6);
}

.about-me__photo {
  grid-area: photo;
  margin-top: 66px;
  width: 270px;
  height: 327px;
}